<div class="main">
<h1>Welcome to My Learning Lexicon</h1>

<h3><%= link_to 'Choose a language to work in, from the beginning', start_path %></h3>
<h3><%= link_to 'Search for specific content', search_path %></h3>
<h3><%= link_to 'Generate a random lexicon entry', random_path %></h3>
</div>