<div class="main">
<h1>Code Lexicons</h1>

<h3><%= link_to 'Choose a category to work in, from the beginning', lexicons_path %></h3>
<h3><%= link_to 'Search for specific content', search_path %></h3>
<h3><%= link_to 'Generate a random entry', random_path %></h3>
</div>