<div class="main">
<h1>Random Entry</h1>

	<h2><%= @random.code %></h2>
	<p><%= @random.description %></p>
	<p><%= link_to "#{@random.category}", lexicons_path(category: @random.category) %></p>
	<br>
	<p class="center"><%= link_to "Generate Another Entry!", random_path, class: "btn btn-info" %></p>

</div>
