<div class="main">
<h1>Generate a Random Entry</h1>

	<h2><%= @random.code %></h2>
	<p><%= @random.description %></p>
	<p><%= @random.category_name %></p>
	<br>
	<p class="center"><%= link_to "Generate Another Entry!", random_path, class: "btn btn-info" %></p>

</div>
