<div class="main">
	
	<h1>Search Results</h1>

	<ul>
		<% @results.each do |r| %>
			<li><h3><%= link_to"#{r.code}", lexicons_show_path(id: r) %></h3>
			<p><%= "#{r.description}" %></p></li>
		<% end %>
	</ul>

</div>