<div class="main">
	<h1>Search For An Entry</h1>

	<br>

	<div class="row">
		<%= form_tag(results_path) do %>
			<div class="form-group col-md-5">
				<%= text_field_tag :search, nil, placeholder: "Search by Code or Description", class: "form-control" %>
			</div>
			<div class="form-group">
				<%= submit_tag "Search", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>