<p id="notice"><%= notice %></p>

<div class="show-page">
	
	<h1><%= @lexicon %></h1>

	<div class="btn"><%= link_to "Edit", edit_path(@lexicon) %></div>
	<div class="btn"><%= link_to "Back", lexicons_path %></div>

</div>